# **100 DAYS OF DATA SCIENCE**

*PHASE 1: PYTHON FUNDAMENTALS*

---

In [588]:
print("\n" + "="*50)
print("ðŸ“… My First Python Code")
print("="*50)

print('Hello Data Science!')

==================================================
ðŸ“… My First Python Code
==================================================
Hello Data Science!

**Variables and Data Types**

In [35]:
# Creating variables
name = 'Keshav'         # STRING (text)
age = 26                # INTEGER (whole number)
height = 5.9            # FLOAT (decimal)
is_student = True       # BOOLEAN (True/False)
salary = 13.72          # FLOAT

print(f"Name: {name}")
print(f"Age: {age}")
print(f"Height: {height}")
print(f"Is Student: {is_student}")
print(f"Salary: ${salary*37.5} per week")

Name: Keshav
Age: 26
Height: 5.9
Is Student: True
Salary: $514.5 per week

In [34]:
# Check data types
print("\n--- Checking Data Types ---")
print(f"type(name) = {type(name)}")           # <class 'str'>
print(f"type(age) = {type(age)}")             # <class 'int'>
print(f"type(height) = {type(height)}")       # <class 'float'>
print(f"type(is_student) = {type(is_student)}")  # <class 'bool'>

--- Checking Data Types ---
type(name) = <class 'str'>
type(age) = <class 'int'>
type(height) = <class 'float'>
type(is_student) = <class 'bool'>

In [33]:
# Using variables together
print(f"\n{name} is {age} years old and earns ${salary*37.5} per hour.")

Keshav is 26 years old and earns $514.5 per hour.

**Basic Operations**

In [32]:
# Arithmetic Operations
print("\n--- Arithmetic Operations ---")
print(f"10 + 5 = {10 + 5}")      # Addition
print(f"10 - 5 = {10 - 5}")      # Subtraction
print(f"10 * 5 = {10 * 5}")      # Multiplication
print(f"10 / 5 = {10 / 5}")      # Division
print(f"10 ** 2 = {10 ** 2}")    # Power (10 squared)
print(f"10 // 3 = {10 // 3}")    # Integer division (no decimals)
print(f"10 % 3 = {10 % 3}")      # Modulo (remainder)

--- Arithmetic Operations ---
10 + 5 = 15
10 - 5 = 5
10 * 5 = 50
10 / 5 = 2.0
10 ** 2 = 100
10 // 3 = 3
10 % 3 = 1

In [31]:
# Comparison Operations
print("\n--- Comparison Operations ---")
print(f"10 > 5 = {10 > 5}")      # Greater than
print(f"10 < 5 = {10 < 5}")      # Less than
print(f"10 == 10 = {10 == 10}")  # Equal to
print(f"10 != 5 = {10 != 5}")    # Not equal to
print(f"10 >= 10 = {10 >= 10}")  # Greater than or equal to

--- Comparison Operations ---
10 > 5 = True
10 < 5 = False
10 == 10 = True
10 != 5 = True
10 >= 10 = True

In [29]:
# Logical Operations
print("\n--- Logical Operations ---")
print(f"True and False = {True and False}")
print(f"True or False = {True or False}")
print(f"not True = {not True}")

--- Logical Operations ---
True and False = False
True or False = True
not True = False

**Practical Example: Salary Calculation**

In [25]:
print("\n--- Real World Example: Salary Calculator ---")
base_salary = 80000
bonus_rate = 0.15
bonus = base_salary * bonus_rate
total_compensation = base_salary + bonus
print(f"Base Salary: ${base_salary:,.2f}")
print(f"Bonus (15%): ${bonus:,.2f}")
print(f"Total Compensation: ${total_compensation:,.2f}")

--- Real World Example: Salary Calculator ---
Base Salary: $80,000.00
Bonus (15%): $12,000.00
Total Compensation: $92,000.00

**Strings and String Methods**

In [28]:
# String basics
text = "Data Science"
print(f"Original text: '{text}'")
print(f"Length: {len(text)} characters")

Original text: 'Data Science'
Length: 12 characters

In [37]:
# String Methods
print("\n--- String Methods ---")
print(f"upper(): '{text.upper()}'")
print(f"lower(): '{text.lower()}'")
print(f"title(): '{text.title()}'")
print(f"replace('Science', 'Analytics'): '{text.replace('Science', 'Analytics')}'")
print(f"split(): {text.split()}")

--- String Methods ---
upper(): 'DATA SCIENCE'
lower(): 'data science'
title(): 'Data Science'
replace('Science', 'Analytics'): 'Data Analytics'
split(): ['Data', 'Science']

**Real World Example: Cleaning Messy Data**

In [39]:
print("\n--- Cleaning Messy Data ---")
messy_name = "  jOhN DoE  "
print(f"Before: '{messy_name}'")

--- Cleaning Messy Data ---
Before: '  jOhN DoE  '

In [44]:
# Step-by-step cleaning
cleaned = messy_name.strip()      # Remove extra spaces
print(f"After strip(): '{cleaned}'")
cleaned = cleaned.lower()         # Make lowercase
print(f"After lower(): '{cleaned}'")
cleaned = cleaned.title()         # Capitalize Each Word
print(f"After title(): '{cleaned}'")

After strip(): 'jOhN DoE'
After lower(): 'john doe'
After title(): 'John Doe'

In [41]:
print(f"After: '{cleaned}'")

After: 'John Doe'

In [45]:
# Email cleaning example
print("\n--- Email Cleaning ---")
messy_email = "  JOHN.DOE@GMAIL.COM  "
clean_email = messy_email.strip().lower()
print(f"Before: '{messy_email}'")
print(f"After: '{clean_email}'")

--- Email Cleaning ---
Before: '  JOHN.DOE@GMAIL.COM  '
After: 'john.doe@gmail.com'

In [47]:
# String slicing
print("\n--- String Slicing ---")
text = "Python Programming"
print(f"First 6 characters: '{text[:6]}'")
print(f"Last 11 characters: '{text[-11:]}'")
print(f"Characters 7-18: '{text[7:18]}'")

--- String Slicing ---
First 6 characters: 'Python'
Last 11 characters: 'Programming'
Characters 7-18: 'Programming'

In [48]:
# Checking string content
print("\n--- String Checks ---")
email = "john@gmail.com"
print(f"Contains '@': {('@' in email)}")
print(f"Starts with 'john': {email.startswith('john')}")
print(f"Ends with '.com': {email.endswith('.com')}")

--- String Checks ---
Contains '@': True
Starts with 'john': True
Ends with '.com': True

**Lists - Creating and Indexing**

In [50]:
# Creating lists
prices = [10, 25, 30, 15, 40]
companies = ['Apple', 'Google', 'Tesla', 'Netflix', 'Amazon']
mixed = [100, 'Python', 3.14, True]

print(f"Prices: {prices}")
print(f"Companies: {companies}")
print(f"Mixed types: {mixed}")

Prices: [10, 25, 30, 15, 40]
Companies: ['Apple', 'Google', 'Tesla', 'Netflix', 'Amazon']
Mixed types: [100, 'Python', 3.14, True]

In [60]:
# List indexing (remember: starts at 0!)
print("\n--- Indexing (Position Starts at 0) ---")
print(f"First price (index 0): {prices[0]}")
print(f"Second price (index 1): {prices[1]}")
print(f"Last price (index -1): {prices[-1]}")
print(f"Second to last (index -2): {prices[-2]}")

print(f"\nFirst company: {companies[0]}")
print(f"Third company: {companies[2]}")

--- Indexing (Position Starts at 0) ---
First price (index 0): 10
Second price (index 1): 25
Last price (index -1): 40
Second to last (index -2): 15

First company: Apple
Third company: Tesla

In [81]:
# List slicing
print("\n--- List Slicing ---")
print(f"Original list: {prices}")
print(f"First 3 items [0:3]: {prices[0:3]}")
print(f"First 3 items [:3]: {prices[:3]}")
print(f"Last 2 items [-2:]: {prices[-2:]}")
print(f"Items from index 2 to end [2:]: {prices[2:]}")
print(f"Every other item [::2]: {prices[::2]}")
print(f"Reverse list [::-1]: {prices[::-1]}")

--- List Slicing ---
Original list: [10, 25, 30, 15, 40]
First 3 items [0:3]: [10, 25, 30]
First 3 items [:3]: [10, 25, 30]
Last 2 items [-2:]: [15, 40]
Items from index 2 to end [2:]: [30, 15, 40]
Every other item [::2]: [10, 30, 40]
Reverse list [::-1]: [40, 15, 30, 25, 10]

In [83]:
# List length
print(f"\nLength of prices list: {len(prices)}")
print(f"Length of companies list: {len(companies)}")

Length of prices list: 5
Length of companies list: 5

**Real Example: Stock Prices Analysis**

In [87]:
print("\n--- Real Example: Weekly Stock Prices ---")
stock_prices = [150, 155, 148, 160, 165]
print(f"Stock prices: {stock_prices}")
print(f"Week's highest: ${max(stock_prices)}")
print(f"Week's lowest: ${min(stock_prices)}")
print(f"Week's average: ${sum(stock_prices) / len(stock_prices):.2f}")
print(f"Total trading volume: ${sum(stock_prices)}")

--- Real Example: Weekly Stock Prices ---
Stock prices: [150, 155, 148, 160, 165]
Week's highest: $165
Week's lowest: $148
Week's average: $155.60
Total trading volume: $778

In [91]:
# Checking if item exists
print("\n--- Checking if Item Exists ---")
print(f"Is 'Tesla' in companies? {'Tesla' in companies}")
print(f"Is 'Microsoft' in companies? {'Microsoft' in companies}")
print(f"Is 30 in prices? {30 in prices}")

--- Checking if Item Exists ---
Is 'Tesla' in companies? True
Is 'Microsoft' in companies? False
Is 30 in prices? True

**List Methods**

In [103]:
# Starting with a simple list
sales = [100, 150, 120]
print(f"Original sales: {sales}")

Original sales: [100, 150, 120]

In [104]:
# append() - Add one item to the end
sales.append(200)
print(f"After append(200): {sales}")

After append(200): [100, 150, 120, 200]

In [105]:
# extend() - Add multiple items
sales.extend([180, 220])
print(f"After extend([180, 220]): {sales}")

After extend([180, 220]): [100, 150, 120, 200, 180, 220]

In [106]:
# insert() - Add item at specific position
sales.insert(0, 90)  # Insert 90 at position 0
print(f"After insert(0, 90): {sales}")

After insert(0, 90): [90, 100, 150, 120, 200, 180, 220]

In [107]:
# remove() - Remove specific value
sales.remove(120)
print(f"After remove(120): {sales}")

After remove(120): [90, 100, 150, 200, 180, 220]

In [108]:
# pop() - Remove and return last item
last_sale = sales.pop()
print(f"Popped item: {last_sale}")
print(f"After pop(): {sales}")

Popped item: 220
After pop(): [90, 100, 150, 200, 180]

In [110]:
# pop(index) - Remove item at specific index
first_sale = sales.pop(0)
print(f"Popped first item: {first_sale}")
print(f"After pop(0): {sales}")

Popped first item: 100
After pop(0): [150, 200, 180]

In [111]:
# sort() - Sort in ascending order
print("\n--- Sorting ---")
numbers = [50, 20, 80, 10, 30]
print(f"Before sort: {numbers}")
numbers.sort()
print(f"After sort(): {numbers}")

--- Sorting ---
Before sort: [50, 20, 80, 10, 30]
After sort(): [10, 20, 30, 50, 80]

In [112]:
# sort(reverse=True) - Sort in descending order
numbers.sort(reverse=True)
print(f"After sort(reverse=True): {numbers}")

After sort(reverse=True): [80, 50, 30, 20, 10]

In [113]:
# reverse() - Reverse the list
print("\n--- Reversing ---")
items = [1, 2, 3, 4, 5]
print(f"Before reverse: {items}")
items.reverse()
print(f"After reverse(): {items}")

--- Reversing ---
Before reverse: [1, 2, 3, 4, 5]
After reverse(): [5, 4, 3, 2, 1]

In [118]:
# count() - Count occurrences
print("\n--- Counting ---")
values = [1, 2, 2, 3, 2, 4, 2]
print(f"List: {values}")
print(f"Count of 2: {values.count(2)}")
print(f"Count of 5: {values.count(5)}")

--- Counting ---
List: [1, 2, 2, 3, 2, 4, 2]
Count of 2: 4
Count of 5: 0

In [120]:
# index() - Find position of item
print("\n--- Finding Index ---")
fruits = ['apple', 'banana', 'cherry', 'banana']
print(f"List: {fruits}")
print(f"Index of 'banana': {fruits.index('banana')}")  # Returns first occurrence

--- Finding Index ---
List: ['apple', 'banana', 'cherry', 'banana']
Index of 'banana': 1

In [121]:
# clear() - Remove all items
print("\n--- Clearing List ---")
temp_list = [1, 2, 3, 4, 5]
print(f"Before clear: {temp_list}")
temp_list.clear()
print(f"After clear(): {temp_list}")

--- Clearing List ---
Before clear: [1, 2, 3, 4, 5]
After clear(): []

**Real World Example: Sales Data Management**

In [131]:
print("\n--- REAL WORLD EXAMPLE: Daily Sales Tracker ---")
daily_sales = [100, 150, 120]
print(f"Initial sales: {daily_sales}")

--- REAL WORLD EXAMPLE: Daily Sales Tracker ---
Initial sales: [100, 150, 120]

In [132]:
# New sales come in
daily_sales.append(200)
daily_sales.append(180)
daily_sales.extend([220, 195])
print(f"After new sales: {daily_sales}")

After new sales: [100, 150, 120, 200, 180, 220, 195]

In [133]:
# Remove an error entry
daily_sales.remove(120)
print(f"After removing error: {daily_sales}")

After removing error: [100, 150, 200, 180, 220, 195]

In [134]:
# Sort to see best to worst
sorted_sales = daily_sales.copy()
sorted_sales.sort(reverse=True)
print(f"Sorted (best to worst): {sorted_sales}")

Sorted (best to worst): [220, 200, 195, 180, 150, 100]

In [135]:
# Calculate statistics
total_sales = sum(daily_sales)
average_sales = total_sales / len(daily_sales)
best_day = max(daily_sales)
worst_day = min(daily_sales)

In [136]:
print(f"\nðŸ“Š Sales Summary:")
print(f"Total Sales: ${total_sales}")
print(f"Average Daily Sales: ${average_sales:.2f}")
print(f"Best Day: ${best_day}")
print(f"Worst Day: ${worst_day}")

ðŸ“Š Sales Summary:
Total Sales: $1045
Average Daily Sales: $174.17
Best Day: $220
Worst Day: $100

**Tuples and Sets**

In [137]:
# TUPLES - Immutable (can't be changed)
print("\n--- TUPLES ---")
coordinates = (40.7128, -74.0060)  # NYC coordinates
rgb_color = (255, 0, 128)
print(f"Coordinates: {coordinates}")
print(f"RGB Color: {rgb_color}")

--- TUPLES ---
Coordinates: (40.7128, -74.006)
RGB Color: (255, 0, 128)

In [139]:
# Accessing tuple items
print(f"Latitude: {coordinates[0]}")
print(f"Longitude: {coordinates[1]}")

Latitude: 40.7128
Longitude: -74.006

In [140]:
# Tuple unpacking
lat, lon = coordinates
print(f"Unpacked - Lat: {lat}, Lon: {lon}")

Unpacked - Lat: 40.7128, Lon: -74.006

In [141]:
# Why use tuples? They're faster and protect data
dimensions = (1920, 1080)
# dimensions[0] = 1000  # This would cause an ERROR!
print(f"Screen dimensions (protected): {dimensions}")

Screen dimensions (protected): (1920, 1080)

In [142]:
# SETS - Unique values only, unordered
print("\n--- SETS ---")
unique_numbers = {1, 2, 3, 4, 5}
duplicate_numbers = {1, 2, 2, 3, 3, 3, 4, 5, 5}
print(f"Set (unique only): {duplicate_numbers}")  # Duplicates removed!

--- SETS ---
Set (unique only): {1, 2, 3, 4, 5}

In [143]:
# Set operations
set_a = {1, 2, 3, 4, 5}
set_b = {4, 5, 6, 7, 8}

In [144]:
print(f"\nSet A: {set_a}")
print(f"Set B: {set_b}")
print(f"Union (all items): {set_a | set_b}")
print(f"Intersection (common): {set_a & set_b}")
print(f"Difference (in A not B): {set_a - set_b}")

Set A: {1, 2, 3, 4, 5}
Set B: {4, 5, 6, 7, 8}
Union (all items): {1, 2, 3, 4, 5, 6, 7, 8}
Intersection (common): {4, 5}
Difference (in A not B): {1, 2, 3}

**Real Example: Email list cleanup**

In [190]:
# Real Example: Email list cleanup
print("\n--- Real Example: Remove Duplicate Emails ---")
email_list = ['john@email.com', 'sarah@email.com', 'john@email.com', 
              'mike@email.com', 'sarah@email.com']
print(f"Original list ({len(email_list)} emails): {email_list}")

--- Real Example: Remove Duplicate Emails ---
Original list (5 emails): ['john@email.com', 'sarah@email.com', 'john@email.com', 'mike@email.com', 'sarah@email.com']

In [186]:
unique_emails = list(set(email_list))
print(f"After cleanup ({len(unique_emails)} emails): {unique_emails}")

After cleanup (3 emails): ['sarah@email.com', 'john@email.com', 'mike@email.com']

**Dictionaries**

In [192]:
# Creating dictionaries
student = {
    'name': 'Sarah Johnson',
    'age': 22,
    'major': 'Data Science',
    'gpa': 3.8,
    'graduated': False
}

In [194]:
print("Student Dictionary:")
print(student)

Student Dictionary:
{'name': 'Sarah Johnson', 'age': 22, 'major': 'Data Science', 'gpa': 3.8, 'graduated': False}

In [197]:
# Accessing values
print(f"\nName: {student['name']}")
print(f"GPA: {student['gpa']}")
print(f"Major: {student['major']}")

Name: Sarah Johnson
GPA: 3.8
Major: Data Science

In [213]:
# Using .get() method (safer - returns None if key doesn't exist)
print(f"\nAge: {student.get('age')}")
print(f"Email: {student.get('email')}")
print(f"Email: {student.get('email', 'Not provided')}")  # Default value

Age: 22
Email: None
Email: Not provided

In [218]:
# Adding new key-value pairs
student['email'] = 'sarah@university.edu'
student['courses'] = ['Python', 'Statistics', 'Machine Learning']
print(f"\nAfter adding email and courses:")
print(student)

After adding email and courses:
{'name': 'Sarah Johnson', 'age': 22, 'major': 'Data Science', 'gpa': 3.8, 'graduated': False, 'email': 'sarah@university.edu', 'courses': ['Python', 'Statistics', 'Machine Learning']}

In [224]:
# Modifying values
student['gpa'] = 3.9
student['age'] = 23
print(f"\nUpdated GPA: {student['gpa']}")
print(f"Updated Age: {student['age']}")

Updated GPA: 3.9
Updated Age: 23

In [238]:
# Dictionary methods
print("\n--- Dictionary Methods ---")
print(f"Keys: {student.keys()}")
print(f"Values: {student.values()}")
print(f"Items: {(student.items())}")
print(f"Items: {list(student.items())[:3]}...")  # Show first 3

--- Dictionary Methods ---
Keys: dict_keys(['name', 'age', 'major', 'gpa', 'graduated', 'email', 'courses'])
Values: dict_values(['Sarah Johnson', 23, 'Data Science', 3.9, False, 'sarah@university.edu', ['Python', 'Statistics', 'Machine Learning']])
Items: dict_items([('name', 'Sarah Johnson'), ('age', 23), ('major', 'Data Science'), ('gpa', 3.9), ('graduated', False), ('email', 'sarah@university.edu'), ('courses', ['Python', 'Statistics', 'Machine Learning'])])
Items: [('name', 'Sarah Johnson'), ('age', 23), ('major', 'Data Science')]...

In [241]:
# Checking if key exists
print(f"\nHas 'name' key? {'name' in student}")
print(f"Has 'phone' key? {'phone' in student}")

Has 'name' key? True
Has 'phone' key? False

**Real World Example: Product Inventory**

In [242]:
# Real World Example: Product Inventory
print("\n--- Real Example: Product Inventory ---")
inventory = {
    'laptop': {'price': 999, 'stock': 15, 'brand': 'Dell'},
    'mouse': {'price': 25, 'stock': 50, 'brand': 'Logitech'},
    'keyboard': {'price': 75, 'stock': 30, 'brand': 'Corsair'}
}

--- Real Example: Product Inventory ---

In [248]:
print("Inventory System:")
for product, details in inventory.items():
    print(f"\n{product.upper()}:")
    print(f"  Price: ${details['price']}")
    print(f"  Stock: {details['stock']} units")
    print(f"  Brand: {details['brand']}")

Inventory System:

LAPTOP:
  Price: $999
  Stock: 15 units
  Brand: Dell

MOUSE:
  Price: $25
  Stock: 50 units
  Brand: Logitech

KEYBOARD:
  Price: $75
  Stock: 30 units
  Brand: Corsair

In [295]:
# Calculate total inventory value
total_value = sum(details['price'] * details['stock'] 
                  for details in inventory.values())
print(f"\nðŸ’° Total Inventory Value: ${total_value:,}")

ðŸ’° Total Inventory Value: $18,485

**If-Else Statements**

In [297]:
# Basic if statement
age = 25
print(f"\nAge: {age}")
if age >= 18:
    print("You are an adult âœ…")

Age: 25
You are an adult âœ…

In [298]:
# If-else statement
print("\n--- If-Else ---")
temperature = 15
print(f"Temperature: {temperature}Â°C")
if temperature > 20:
    print("It's warm outside! ðŸŒž")
else:
    print("It's cold outside! ðŸ¥¶")

--- If-Else ---
Temperature: 15Â°C
It's cold outside! ðŸ¥¶

In [300]:
# If-elif-else statement
print("\n--- If-Elif-Else ---")
score = 85
print(f"Score: {score}")
if score >= 90:
    grade = 'A'
elif score >= 80:
    grade = 'B'
elif score >= 70:
    grade = 'C'
elif score >= 60:
    grade = 'D'
else:
    grade = 'F'
print(f"Grade: {grade}")

--- If-Elif-Else ---
Score: 85
Grade: B

In [301]:
# Multiple conditions with and/or
print("\n--- Multiple Conditions ---")
age = 25
has_license = True
print(f"Age: {age}, Has License: {has_license}")

if age >= 18 and has_license:
    print("You can drive! ðŸš—")
else:
    print("You cannot drive âŒ")

--- Multiple Conditions ---
Age: 25, Has License: True
You can drive! ðŸš—

In [303]:
# Nested if statements
print("\n--- Nested If ---")
income = 75000
credit_score = 720
print(f"Income: ${income}, Credit Score: {credit_score}")

if income >= 50000:
    if credit_score >= 700:
        print("Loan APPROVED âœ…")
        print("Low interest rate: 3.5%")
    else:
        print("Loan approved with conditions âš ï¸")
        print("Higher interest rate: 5.5%")
else:
    print("Loan DENIED âŒ")

--- Nested If ---
Income: $75000, Credit Score: 720
Loan APPROVED âœ…
Low interest rate: 3.5%

**Real World Example: E-commerce Discount Calculator**

In [304]:
# Real World Example: E-commerce Discount Calculator
print("\n--- Real Example: Discount Calculator ---")
cart_total = 250
is_member = True
coupon_code = "SAVE20"

--- Real Example: Discount Calculator ---

In [308]:
print(f"Cart Total: ${cart_total}")
print(f"Is Member: {is_member}")
print(f"Coupon Code: {coupon_code}")

Cart Total: $250
Is Member: True
Coupon Code: SAVE20

In [309]:
discount = 0

In [311]:
if is_member:
    discount += 10  # 10% member discount
    print("âœ… Member discount: 10%")

âœ… Member discount: 10%

In [313]:
if coupon_code == "SAVE20":
    discount += 20  # Additional 20% off
    print("âœ… Coupon applied: 20%")

âœ… Coupon applied: 20%

In [315]:
if cart_total > 200:
    discount += 5  # Extra 5% for orders over $200
    print("âœ… Bulk order discount: 5%")

âœ… Bulk order discount: 5%

In [316]:
final_price = cart_total * (1 - discount/100)
savings = cart_total - final_price

In [320]:
print(f"\nðŸ’° Total Discount: {discount}%")
print(f"ðŸ’° You save: ${savings:.2f}")
print(f"ðŸ’° Final Price: ${final_price:.2f}")

ðŸ’° Total Discount: 70%
ðŸ’° You save: $175.00
ðŸ’° Final Price: $75.00

**For Loops**

In [326]:
# Basic for loop
print("\n--- Looping Through a List ---")
fruits = ['apple', 'banana', 'cherry', 'date']
for fruit in fruits:
    print(f"I love {fruit}!")

--- Looping Through a List ---
I love apple!
I love banana!
I love cherry!
I love date!

In [327]:
# Looping through numbers with range()
print("\n--- Using range() ---")
print("Count to 5:")
for i in range(1, 6):  # range(start, stop) - stop is exclusive
    print(f"Number: {i}")

--- Using range() ---
Count to 5:
Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

In [339]:
# range() with step
print("\nEven numbers from 0 to 10:")
for num in range(0, 11, 2):  # range(start, stop, step)
    print(num, end=' ')
print()

Even numbers from 0 to 10:
0 2 4 6 8 10

In [340]:
# Looping through string
print("\n--- Looping Through String ---")
word = "Python"
for letter in word:
    print(letter, end=' ')
print()

--- Looping Through String ---
P y t h o n

In [368]:
# Looping through dictionary
print("\n--- Looping Through Dictionary ---")
person = {'name': 'John', 'age': 30, 'city': 'New York'}
for key, value in person.items():
    print(f"{key}: {value}")

--- Looping Through Dictionary ---
name: John
age: 30
city: New York

In [384]:
# Using enumerate() to get index and value
print("\n--- Using enumerate() ---")
companies = ['Apple', 'Google', 'Tesla', 'Netflix', 'Amazon', 'Microsoft']
for index, company in enumerate(companies, start=1):
    print(f"{index}. {company}")

--- Using enumerate() ---
1. Apple
2. Google
3. Tesla
4. Netflix
5. Amazon
6. Microsoft

In [389]:
# Nested loops
print("\n--- Nested Loops (Multiplication Table) ---")
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} Ã— {j} = {i*j}", end='  ')
    print()  # New line after each row

--- Nested Loops (Multiplication Table) ---
1 Ã— 1 = 1  1 Ã— 2 = 2  1 Ã— 3 = 3
2 Ã— 1 = 2  2 Ã— 2 = 4  2 Ã— 3 = 6
3 Ã— 1 = 3  3 Ã— 2 = 6  3 Ã— 3 = 9

**Real World Example: Sales Analysis**

In [393]:
# Real World Example: Sales Analysis
print("\n--- Real Example: Monthly Sales Analysis ---")
monthly_sales = [15000, 18000, 22000, 19000, 25000, 21000]
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']

--- Real Example: Monthly Sales Analysis ---

In [440]:
total = 0
print("Monthly Breakdown:")
for month, sales in zip(months, monthly_sales):
    total += sales
    print(f"{month}: ${sales:,}")

Monthly Breakdown:
Jan: $15,000
Feb: $18,000
Mar: $22,000
Apr: $19,000
May: $25,000
Jun: $21,000

In [468]:
average = total / len(monthly_sales)
print(f"\nðŸ“Š Total Sales: ${total:,}")
print(f"ðŸ“Š Average Monthly Sales: ${average:,.2f}")

ðŸ“Š Total Sales: $120,000
ðŸ“Š Average Monthly Sales: $20,000.00

In [469]:
# Find best month
best_month_index = monthly_sales.index(max(monthly_sales))
print(f"ðŸ† Best Month: {months[best_month_index]} (${max(monthly_sales):,})")

ðŸ† Best Month: May ($25,000)

**While Loops**

In [473]:
# Basic while loop
print("\n--- Basic While Loop ---")
count = 1
while count <= 5:
    print(f"Count: {count}")
    count += 1

--- Basic While Loop ---
Count: 1
Count: 2
Count: 3
Count: 4
Count: 5

In [478]:
# While loop with user condition
print("\n--- While Loop with Condition ---")
balance = 100
day = 1
while balance > 0:
    spending = 15
    balance -= spending
    print(f"Day {day}: Spent ${spending}, Balance: ${balance}")
    day += 1
    if day > 7:  # Safety break
        break

--- While Loop with Condition ---
Day 1: Spent $15, Balance: $85
Day 2: Spent $15, Balance: $70
Day 3: Spent $15, Balance: $55
Day 4: Spent $15, Balance: $40
Day 5: Spent $15, Balance: $25
Day 6: Spent $15, Balance: $10
Day 7: Spent $15, Balance: $-5

In [483]:
# Using break statement
print("\n--- Using break ---")
number = 1
while True:
    print(number, end=' ')
    if number == 5:
        break
    number += 1
print("\nStopped at 5!")

--- Using break ---
1 2 3 4 5
Stopped at 5!

In [487]:
# Using continue statement
print("\n--- Using continue ---")
number = 0
while number < 10:
    number += 1
    if number % 2 == 0:  # Skip even numbers
        continue
    print(number, end=' ')
print("\n(Only odd numbers printed)")

--- Using continue ---
1 3 5 7 9
(Only odd numbers printed)

**Real World Example: ATM Withdrawal System**

In [509]:
# Real World Example: ATM Withdrawal System
print("\n--- Real Example: ATM Withdrawal ---")
balance = 1000
print(f"Starting Balance: ${balance}")

--- Real Example: ATM Withdrawal ---
Starting Balance: $1000

In [510]:
withdrawals = [100, 120, 200, 500, 300, 80]  # Simulated withdrawal attempts
print(f"Withdrawal attempts: {withdrawals}")

Withdrawal attempts: [100, 120, 200, 500, 300, 80]

In [511]:
for attempt, amount in enumerate(withdrawals, 1):
    print(f"\nAttempt {attempt}: Withdraw ${amount}")
    
    if amount > balance:
        print(f"âŒ Insufficient funds! Balance: ${balance}")
        continue
    
    balance -= amount
    print(f"âœ… Success! New balance: ${balance}")
    
    if balance < 100:
        print("âš ï¸ WARNING: Low balance!")
    
    if balance == 0:
        print("Account empty!")
        break

print(f"\nFinal Balance: ${balance}")

Attempt 1: Withdraw $100
âœ… Success! New balance: $900

Attempt 2: Withdraw $120
âœ… Success! New balance: $780

Attempt 3: Withdraw $200
âœ… Success! New balance: $580

Attempt 4: Withdraw $500
âœ… Success! New balance: $80
âš ï¸ WARNING: Low balance!

Attempt 5: Withdraw $300
âŒ Insufficient funds! Balance: $80

Attempt 6: Withdraw $80
âœ… Success! New balance: $0
âš ï¸ WARNING: Low balance!
Account empty!

Final Balance: $0

**Functions - Part 1**

In [513]:
# Basic function definition
def greet():
    print("Hello, Data Scientist!")

In [515]:
print("\n--- Basic Function ---")
greet()
greet()  # Can call multiple times

--- Basic Function ---
Hello, Data Scientist!
Hello, Data Scientist!

In [517]:
# Function with parameters
def greet_person(name):
    print(f"Hello, {name}!")

In [519]:
print("\n--- Function with Parameters ---")
greet_person("Sarah")
greet_person("John")

--- Function with Parameters ---
Hello, Sarah!
Hello, John!

In [520]:
# Function with multiple parameters
def calculate_rectangle_area(length, width):
    area = length * width
    print(f"Rectangle: {length} Ã— {width} = {area} sq units")

In [521]:
print("\n--- Multiple Parameters ---")
calculate_rectangle_area(5, 3)
calculate_rectangle_area(10, 7)

--- Multiple Parameters ---
Rectangle: 5 Ã— 3 = 15 sq units
Rectangle: 10 Ã— 7 = 70 sq units

In [524]:
# Function with default parameters
def greet_with_title(name, title="Mr."):
    print(f"Hello, {title} {name}!")

In [525]:
print("\n--- Default Parameters ---")
greet_with_title("Smith")  # Uses default "Mr."
greet_with_title("Johnson", "Dr.")  # Overrides default

--- Default Parameters ---
Hello, Mr. Smith!
Hello, Dr. Johnson!

**Real World Example: Temperature Converter**

In [526]:
# Real World Example: Temperature Converter
print("\n--- Real Example: Temperature Converter ---")

--- Real Example: Temperature Converter ---

In [527]:
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    print(f"{celsius}Â°C = {fahrenheit}Â°F")

In [528]:
def fahrenheit_to_celsius(fahrenheit):
    celsius = (fahrenheit - 32) * 5/9
    print(f"{fahrenheit}Â°F = {celsius:.1f}Â°C")

In [530]:
celsius_to_fahrenheit(0)
celsius_to_fahrenheit(25)
celsius_to_fahrenheit(100)
print()
fahrenheit_to_celsius(32)
fahrenheit_to_celsius(77)
fahrenheit_to_celsius(212)

0Â°C = 32.0Â°F
25Â°C = 77.0Â°F
100Â°C = 212.0Â°F

32Â°F = 0.0Â°C
77Â°F = 25.0Â°C
212Â°F = 100.0Â°C

**Functions - Part 2 (Return Values)**

In [532]:
# Function with return value
def add(a, b):
    return a + b

In [537]:
print("\n--- Function with Return ---")
result = add(5, 3)
print(f"5 + 3 = {result}")
print(f"10 + 20 = {add(10, 20)}")

--- Function with Return ---
5 + 3 = 8
10 + 20 = 30

In [539]:
# Function returning multiple values
def calculate_stats(numbers):
    total = sum(numbers)
    average = total / len(numbers)
    maximum = max(numbers)
    minimum = min(numbers)
    return total, average, maximum, minimum

In [541]:
print("\n--- Returning Multiple Values ---")
data = [10, 20, 30, 40, 50]
total, avg, max_val, min_val = calculate_stats(data)
print(f"Data: {data}")
print(f"Total: {total}")
print(f"Average: {avg}")
print(f"Maximum: {max_val}")
print(f"Minimum: {min_val}")

--- Returning Multiple Values ---
Data: [10, 20, 30, 40, 50]
Total: 150
Average: 30.0
Maximum: 50
Minimum: 10

In [544]:
# Function with conditional return
def check_eligibility(age, income):
    if age >= 18 and income >= 30000:
        return "Approved"
    else:
        return "Denied"

In [547]:
print("\n--- Conditional Return ---")
print(f"Age 25, Income $50k: {check_eligibility(25, 50000)}")
print(f"Age 16, Income $40k: {check_eligibility(16, 40000)}")
print(f"Age 22, Income $25k: {check_eligibility(22, 25000)}")

--- Conditional Return ---
Age 25, Income $50k: Approved
Age 16, Income $40k: Denied
Age 22, Income $25k: Denied

**Real World Example: Loan Calculator**

In [552]:
# Real World Example: Loan Calculator
print("\n--- Real Example: Loan Calculator ---")

--- Real Example: Loan Calculator ---

In [553]:
def calculate_monthly_payment(loan_amount, annual_rate, years):
    """Calculate monthly loan payment"""
    monthly_rate = annual_rate / 100 / 12
    num_payments = years * 12
    
    if monthly_rate == 0:
        monthly_payment = loan_amount / num_payments
    else:
        monthly_payment = loan_amount * (monthly_rate * (1 + monthly_rate)**num_payments) / \
                         ((1 + monthly_rate)**num_payments - 1)
    
    total_payment = monthly_payment * num_payments
    total_interest = total_payment - loan_amount
    
    return monthly_payment, total_payment, total_interest

In [554]:
# Calculate for a $200,000 loan
loan = 200000
rate = 3.5
term = 30
monthly, total, interest = calculate_monthly_payment(loan, rate, term)

In [555]:
print(f"Loan Amount: ${loan:,}")
print(f"Interest Rate: {rate}%")
print(f"Term: {term} years")
print(f"\nðŸ’° Monthly Payment: ${monthly:,.2f}")
print(f"ðŸ’° Total Payment: ${total:,.2f}")
print(f"ðŸ’° Total Interest: ${interest:,.2f}")

Loan Amount: $200,000
Interest Rate: 3.5%
Term: 30 years

ðŸ’° Monthly Payment: $898.09
ðŸ’° Total Payment: $323,312.18
ðŸ’° Total Interest: $123,312.18

**List Comprehensions**

In [556]:
# Traditional way vs List Comprehension
print("\n--- Traditional Way ---")
squares_traditional = []
for i in range(1, 6):
    squares_traditional.append(i ** 2)
print(f"Squares (traditional): {squares_traditional}")

--- Traditional Way ---
Squares (traditional): [1, 4, 9, 16, 25]

In [557]:
print("\n--- List Comprehension Way ---")
squares = [i ** 2 for i in range(1, 6)]
print(f"Squares (comprehension): {squares}")

--- List Comprehension Way ---
Squares (comprehension): [1, 4, 9, 16, 25]

In [559]:
# List comprehension with condition
print("\n--- With Condition ---")
even_numbers = [i for i in range(1, 11) if i % 2 == 0]
print(f"Even numbers: {even_numbers}")

odd_numbers = [i for i in range(1, 11) if i % 2 != 0]
print(f"Odd numbers: {odd_numbers}")

--- With Condition ---
Even numbers: [2, 4, 6, 8, 10]
Odd numbers: [1, 3, 5, 7, 9]

In [561]:
# String operations with list comprehension
print("\n--- String Operations ---")
names = ['john', 'sarah', 'mike', 'emma']
capitalized = [name.title() for name in names]
print(f"Original: {names}")
print(f"Capitalized: {capitalized}")

--- String Operations ---
Original: ['john', 'sarah', 'mike', 'emma']
Capitalized: ['John', 'Sarah', 'Mike', 'Emma']

In [562]:
# List comprehension with multiple conditions
print("\n--- Multiple Conditions ---")
numbers = [i for i in range(1, 51) if i % 3 == 0 and i % 5 == 0]
print(f"Numbers divisible by both 3 and 5 (1-50): {numbers}")

--- Multiple Conditions ---
Numbers divisible by both 3 and 5 (1-50): [15, 30, 45]

In [564]:
# Nested list comprehension
print("\n--- Nested Comprehension ---")
matrix = [[i*j for j in range(1, 4)] for i in range(1, 4)]
print("Multiplication table:")
for row in matrix:
    print(row)

--- Nested Comprehension ---
Multiplication table:
[1, 2, 3]
[2, 4, 6]
[3, 6, 9]

**Real World Example: Data Cleaning**

In [567]:
# Real World Example: Data Cleaning
print("\n--- Real Example: Price Data Cleaning ---")
raw_prices = ['$100', '$250', '$75', '$350', '$125']
print(f"Raw prices: {raw_prices}")

--- Real Example: Price Data Cleaning ---
Raw prices: ['$100', '$250', '$75', '$350', '$125']

In [572]:
# Clean and convert to integers
clean_prices = [int(price.replace('$','')) for price in raw_prices]
print(f"Clean prices: {clean_prices}")

Clean prices: [100, 250, 75, 350, 125]

In [574]:
# Filter expensive items (over $100)
expensive_items = [price for price in clean_prices if price > 100]
print(f"Expensive items (>$100): {expensive_items}")

Expensive items (>$100): [250, 350, 125]

In [579]:
# Apply discount (20% off)
discounted_prices = [price * 0.8 for price in clean_prices]
print(f"After 20% discount: {discounted_prices}")

After 20% discount: [80.0, 200.0, 60.0, 280.0, 100.0]

**Real World Example: Customer Data Processing**

In [580]:
# Real World Example: Customer Data Processing
print("\n--- Real Example: Customer Data Processing ---")
customers = [
    {'name': 'John', 'age': 25, 'purchases': 150},
    {'name': 'Sarah', 'age': 32, 'purchases': 420},
    {'name': 'Mike', 'age': 28, 'purchases': 280},
    {'name': 'Emma', 'age': 35, 'purchases': 550},
]

--- Real Example: Customer Data Processing ---

In [582]:
# Extract names
names = [customer['name'] for customer in customers]
print(f"Customer names: {names}")

Customer names: ['John', 'Sarah', 'Mike', 'Emma']

In [585]:
# Find VIP customers (purchases > $300)
vip_customers = [customer['name'] for customer in customers 
                 if customer['purchases'] > 300]
print(f"VIP customers: {vip_customers}")

VIP customers: ['Sarah', 'Emma']

In [586]:
# Calculate total revenue
total_revenue = sum([customer['purchases'] for customer in customers])
print(f"Total revenue: ${total_revenue}")

Total revenue: $1400

In [587]:
# Next Day will be the day for NumPy.......